<h2>Iniciar sesión</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <mat-form-field class="w-full">
      <mat-label>E-mail</mat-label>
      <input [formControl]="emailControl" type="text" matInput />
      <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
    </mat-form-field>
  </div>
  <div class="field">
    <mat-form-field class="w-full">
      <mat-label>Contraseña</mat-label>
      <input [formControl]="passwordControl" type="password" matInput />
      <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | controlErrorMessages }}</mat-error>
    </mat-form-field>
  </div>
  <div class="flex justify-content-end">
    <button type="submit" color="primary" mat-flat-button>
      Ingresar
    </button>
  </div>
</form>
