<div class="boton-agregar">
<button (click)="abrirABMAlumnos()" color="primary" mat-flat-button>
  <mat-icon>add</mat-icon>
  Agregar alumno
</button>
</div>
<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="aplicarFiltros($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let persona"> {{persona.id}} </td>
  </ng-container>

  <!-- Nombre Completo Column -->

  <ng-container matColumnDef="nombreCompleto">
    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
    <td mat-cell *matCellDef="let persona"> {{persona | nombreCompleto: 'mayuscula'}} </td>
  </ng-container>

  <!-- Nombre Column 
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> nombre </th>
    <td mat-cell *matCellDef="let persona"> {{persona.nombre}} </td>
  </ng-container>

    Apellido Column 
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let persona"> {{persona.apellido}} </td>
  </ng-container> -->

  <!-- Fecha_registro Column -->
  <ng-container matColumnDef="fecha_registro">
    <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
    <td mat-cell *matCellDef="let persona"> {{persona.fecha_registro | date: 'dd/mm/yyyy'}} </td>
  </ng-container>

  <!-- Detalle Column -->
  <ng-container matColumnDef="ver_detalle">
  <th mat-header-cell *matHeaderCellDef>Detalle</th>
  <td mat-cell *matCellDef="let persona">
    <button mat-button (click)="irAlDetalle(persona.id)">
      <mat-icon>visibility</mat-icon>
    </button>
  </td>

  <!-- Eliminar Column-->
  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
    <td mat-cell *matCellDef="let persona">
      <button mat-button (click)="eliminarAlumno(persona)">
        <mat-icon>close</mat-icon>
      </button>
    </td>
  
  <!-- Editar Column -->
  </ng-container>
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let persona">
      <button mat-icon-button (click)="editarAlumno(persona)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

