<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">


    <img width="50" height="50" src="../../assets/img/avatar.svg">

    <p>{{ (authUser$ | async)?.nombre }}</p>
    <p>{{ (authUser$ | async)?.email }}</p>


    <mat-nav-list>
      <a
        [routerLink]="link.path"
        mat-list-item
        *ngFor="let link of links"
      >
        <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon> {{ link.title }}
      </a>
      <a
        (click)="logout()"
        mat-list-item
      >
        Cerrar sesión
      </a>
    </mat-nav-list>

    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      {{ showFiller ? 'Show less' : 'Show more'}}
    </button> -->


  </mat-drawer>

  <!-- MI WRAPPER  -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR  -->
    <mat-toolbar color="primary">
      <div class="flex justify-content-between">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>{{ (authUser$ | async)?.nombre }}</span>
          <span class="example-spacer"></span>
        </div>
        
      </div>
    </mat-toolbar>

    <!-- PAGINAS -->
    <main>
        <!-- <app-tablas></app-tablas> -->
        <router-outlet></router-outlet>
    </main>
  </div>

</mat-drawer-container>
